/* =======================================
  HEADER 
======================================= */
header {
  grid-area: header;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1em;
  /*position: fixed;*/
  padding: 0.625em 1.25em;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo  cabeçalho*/
.logo {
  display: flex;
  align-items: center;
  gap: 0.625em; /* Espaço entre o logo e o texto */
}

.logo-img {
  width: 6.25em;
  height: 1.875em;
}

.logo span {
  font-size: 1.125em;
  font-weight: bold;
}

/* icones cabeçaljo */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 1em; /* Espaço entre os ícones */
}

.dropbtn {
  background: none;
  color: white;
  border: red;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.dropbtn:hover,
.dropbtn:focus {
  transform: scale(1.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #0003c0;
  color: white;
}

.show {
  display: block;
}

/* botao sair */
.botao_sair {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.botao_sair:hover {
  background-color: #e60000;
}

.myDropdown:hover {
  display: block;
}
