/* O Modal (fundo) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
  animation: fadeIn 0.3s ease-out; /* Animação para suavizar o aparecimento */
}

/* Animação para o fade-in do modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Conteúdo do Modal */
.form_modal {
  background-color: #fff;
  margin: 5% auto;
  padding: 1.875em;
  border-radius: 0.75em;
  max-width: 37.5em;
  box-shadow: 0 0.625em 1.875em rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: scaleUp 0.3s ease-out; /* Animação de entrada suave */
}

/* Animação para o aumento suave do modal */
@keyframes scaleUp {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Botão de Fechar */
.close {
  color: #666;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
}

/* Formulário */
form {
  display: grid;
  gap: 15px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

input {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

select {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border-color: #0066cc;
  outline: none;
}

.bt_ficha {
  background-color: #0066cc;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bt_ficha:hover {
  background-color: #00162c;
}

.bt_excluir {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bt_excluir:hover {
  background-color: #000000;
}
