.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &hover,
  &focus {
    transform: scale(1.2);
  }
}

/* .dropbtn:hover,
.dropbtn:focus {
  transform: scale(1.2);
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  border-radius: 4px;

  &.logout-button:hover
  {
    background-color: #0003c0;
    color: white;
  }
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
}

.dropdown-content a:hover {
  background-color: #0003c0;
  color: white;
}

