/* =======================================
  NAVBAR
======================================= */
nav {
  grid-area: nav;
  background-color: #ddd;
  padding: 0.9375em;
  border-radius: 0.5em;
  overflow-x: auto;
  max-height: 960px;
}
.menu {
  grid-area: nav;
}
@media only screen and (max-width: 768px) {
  .menu {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .menu #sidebar {
    display: none;
  }

  .menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .menu a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu a:hover {
    background-color: #ddd;
    color: black;
  }

  .sidebar > a:hover {
    background-color: #ddd;
    color: black;
  }

  .sidebar > a:active {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #333;
    color: white;
  }
}

/* ESTILO DESKTOP > 768px */
@media only screen and (min-width: 768px) {
  .sidebar {
    width: 10%;
    max-height: 960px;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    overflow: auto;
    display: block;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.pMenu {
    background-color: #007bff;
    color: white;
  }

  .sidebar a:hover {
    background-color: #007bff;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #007bff;
    color: white;
  }

  .sidebar a:active {
    background-color: #007bff;
    color: white;
  }

  .sidebar a {
    float: left;
  }

  .pMenu {
    display: none;
  }
}
